In [1]:
import pandas as pd
import os
import scipy.stats as stats

In [2]:
file = 'ped_data.csv'
fileb = 't_test.csv'

In [3]:
df = pd.read_csv(file)
df2 = pd.read_csv(fileb)

In [4]:
# DATA CLEANSING STEPS PERFORMED SEPERATELY AS FOLLOWS
# Step1: CSV files with hourly data per month was downloaded from http://www.pedestrian.melbourne.vic.gov.au/
# Step2: SUM and Average functions were used in csv files to get total amount of pedestrians for that month per sensor.
# Step3: A new csv file was created where the final total results from above were copied
# Step4: that final csv file was stored as ped_data.csv
# Step5: ped_data.csv was opened in this jupyter notebook

In [5]:
#printing the dataframe head
df.set_index('Month').head()

,Bourke Street Mall (North),Bourke Street Mall (South),Melbourne Central,Town Hall (West),Princes Bridge,Flinders Street Station Underpass,Birrarung Marr,Webb Bridge,Southern Cross Station,Victoria Point,...,QVM-Queen St (East),QVM-Therry St (South),Faraday St-Lygon St (West),QVM-Franklin St (North),Elizabeth St-Lonsdale St (South),Lonsdale St - Elizabeth St (North),Bourke St Bridge,Bourke St - Spencer St (North),RMIT Bld 80 - 445 Swanston Street,RMIT Building 14
Month,,,,,,,,,,,,,,,,,,,,,
Aug-19,906524,641786,981893,1064689,963378,1051024,324456,144995,621153,155030,...,206593,137175,193302,99286,325035,254486,858474,628506,141713,510872
Sep-19,943758,643780,869674,971314,925437,1008301,234247,140767,561236,131512,...,179612,93315,184283,87344,313040,233348,484876,560959,113007,412081
Oct-19,1028680,495941,919196,1047185,1028103,1151297,187355,58490,638247,148089,...,194461,94980,205178,101168,332225,237426,501533,632111,133967,459405
Nov-19,1037267,744945,901523,1074747,673975,1105507,320914,137894,536947,134803,...,205257,135467,205253,94935,328209,198465,551299,598612,96558,323670
Dec-19,1192463,927155,911297,1244392,1068849,1187116,209137,146964,442756,118303,...,207353,132729,223789,97110,310402,250344,381784,545728,83645,266536

In [6]:
df['Bourke Street Mall (North)'].max()

1192463

In [7]:
df['Bourke Street Mall (North)'].min()

70531

In [8]:
# creating empty lists
maxall = []
minall = []
columns = []
dif = []

In [9]:
#gathering all column names in a list
for column in df.columns:
    columns.append(column)

In [10]:
#removing month column
columns.pop(0)

'Month'

In [11]:
# creating max list
for i in columns:
    maxall.append(df[i].max())

In [12]:
#creating min list
for i in columns:
    minall.append(df[i].min())

In [13]:
len(columns)

47

In [14]:
for x, y in zip(maxall, minall):
    dif.append((x-y)*100/x)

In [15]:
# to find greatest drop in number
greatest = 0
for x in dif:
    if x > greatest:
        greatest = x

print(dif.index(greatest))

35

In [16]:
columns[35]

'Pelham St (South)'

In [17]:
#to find least drop
smallest = greatest
for x in dif:
    if x < smallest:
        smallest = x

print(dif.index(smallest))

38

In [18]:
print('The largest drop of ' + str(greatest) + ' percent was recorded at ' + str(columns[35]))
print('The smallest drop of ' + str(smallest) + ' percent was recorded in ' + str(columns[38]))

The largest drop of 97.85764724187042 percent was recorded at Pelham St (South)
The smallest drop of 56.55476581009659 percent was recorded in QVM-Therry St (South)

In [19]:
maxall[38]

137175

In [20]:
totaldif = 0
for x in dif:
    totaldif = totaldif + x
averagedrop = totaldif/len(dif)
averagedrop

87.24970885026167

In [21]:
# creating a DataFrame for ttest
df2['QVM-Therry St (South)'] = df['QVM-Therry St (South)']
df2['Pelham St (South)'] = df['Pelham St (South)']
df2

       Total  QVM-Therry St (South)  Pelham St (South)
0   20514686                 137175              83553
1   18400508                  93315              77593
2   19559400                  94980              77533
3   19096264                 135467              66638
4   19391486                 132729              40181
5   18109838                 101256              42714
6   16858818                  95164              56911
7   12495970                  85517              59855
8    2942258                  63224              12079
9    4536450                  80665              15479
10   6285049                  78411              18768
11   4005612                  66832              17197
12   2356316                  63432              12052
13   2681026                  65631              12755
14   3648305                  73589               1790
15   7031784                  71529              12110
16   9786726                  73107              18107
17   8038037                  65809              17925
18   6942036                  61117              18163
19  10168966                  64460              33885
20  11389823                  71901              29498
21   9544418                  72130              33566
22   6219415                  66715              17181
23   7496519                  71023              20477
24   3878260                  59596              15812

In [22]:
df2.to_csv('abc.csv')

In [23]:
stats.ttest_ind(df2['Total'], df2['QVM-Therry St (South)'], equal_var=False)

Ttest_indResult(statistic=8.026216493241861, pvalue=2.9776823362646984e-08)

In [24]:
stats.ttest_ind(df2['Total'], df2['Pelham St (South)'], equal_var=False)

Ttest_indResult(statistic=8.065901442707357, pvalue=2.727993159440689e-08)