# Importing depencies

In [1]:
from pandas import Series, date_range
import pandas as pd
from sodapy import Socrata
#from keys import api_key
from matplotlib import pyplot as plt
import numpy as np
import scipy.stats as stats
from scipy.stats import linregress
from matplotlib.pyplot import figure
import scipy.stats as st

In [5]:
# client = Socrata("data.melbourne.vic.gov.au", api_key)


# for yr in [2019,2020,2021]:
#     results = client.get("b2ak-trbp", limit=800000,year=yr)
#     # Convert to pandas DataFrame
#     globals()[f'results_df{yr}'] = pd.DataFrame.from_records(results)
#     print(f'results_df{yr}')

results_df2019
results_df2020
results_df2021

In [2]:
# results_df2019.head()

In [7]:
# results_df2020.head()

,id,date_time,year,month,mdate,day,time,sensor_id,sensor_name,hourly_counts
0,2966839,2020-01-01T00:00:00.000,2020,January,1,Wednesday,0,4,Town Hall (West),3120
1,2966840,2020-01-01T00:00:00.000,2020,January,1,Wednesday,0,17,Collins Place (South),945
2,2966841,2020-01-01T00:00:00.000,2020,January,1,Wednesday,0,18,Collins Place (North),464
3,2966842,2020-01-01T00:00:00.000,2020,January,1,Wednesday,0,53,Collins St (North),1590
4,2966843,2020-01-01T00:00:00.000,2020,January,1,Wednesday,0,2,Bourke Street Mall (South),725

In [8]:
# results_df2021.head()

,id,date_time,year,month,mdate,day,time,sensor_id,sensor_name,hourly_counts
0,3482939,2021-01-01T00:00:00.000,2021,January,1,Friday,0,4,Town Hall (West),1461
1,3482940,2021-01-01T00:00:00.000,2021,January,1,Friday,0,17,Collins Place (South),79
2,3482941,2021-01-01T00:00:00.000,2021,January,1,Friday,0,18,Collins Place (North),33
3,3482942,2021-01-01T00:00:00.000,2021,January,1,Friday,0,53,Collins St (North),196
4,3482943,2021-01-01T00:00:00.000,2021,January,1,Friday,0,2,Bourke Street Mall (South),236

#### Validating data entries, e.g. 2021 only has data upto Aug.

In [10]:
# print(results_df2019["month"].unique())
# print(results_df2019["sensor_id"].unique())
# print(results_df2019["sensor_id"].shape)
# print(results_df2021["sensor_id"].unique())
# print(results_df2021["month"].unique())

['November' 'September' 'October' 'December' 'August' 'January' 'February'
 'March' 'May' 'April' 'June' 'July']
['34' '39' '37' '40' '36' '29' '42' '43' '44' '35' '45' '46' '47' '48'
 '49' '50' '51' '52' '54' '55' '56' '57' '58' '59' '61' '62' '4' '17' '18'
 '53' '2' '1' '3' '15' '9' '10' '12' '11' '8' '7' '5' '6' '14' '26' '24'
 '23' '25' '21' '20' '19' '22' '27' '28' '31' '30' '41' '33' '60']
(456829,)
['4' '17' '18' '53' '2' '1' '3' '15' '9' '10' '12' '11' '8' '7' '5' '6'
 '14' '26' '24' '23' '25' '21' '20' '19' '22' '27' '28' '31' '30' '34'
 '39' '37' '40' '36' '29' '42' '43' '44' '35' '45' '41' '46' '47' '48'
 '49' '50' '51' '52' '54' '55' '56' '57' '58' '59' '61' '62' '63' '64'
 '65' '66' '67' '68' '69' '70' '71' '73' '72' '75' '76' '77' '78']
['January' 'February' 'March' 'April' 'May' 'June' 'July' 'August']

In [11]:
# #Save df to csv files
# results_df2019.to_csv('results_df2019.csv',index=False)
# results_df2020.to_csv('results_df2020.csv',index=False)
# results_df2021.to_csv('results_df2021.csv',index=False)

### Data Gathering via API in file DataGatheringViaAPI.ipynb
Data retrieval from stored csv files

## Data Wrangling
1. Drop NaN values
2. Verify shape of the dataFrame for all 3 years
3. Checking duplicates
4. Correcting Data Type

In [5]:
#e=pd.read_csv("employed full time 2019 2020 20121.csv")

In [19]:
e=pd.read_csv("employed full time 2019 2020 20121.csv") 
l=pd.read_csv("lockdown.csv") 
#print(e)
results_df2019=pd.read_csv("results_df2019.csv") 
results_df2020=pd.read_csv("results_df2020.csv") 
results_df2021=pd.read_csv("results_df2021.csv") 
#Data Pre Processing
results_df2019=results_df2019.dropna(how="any")
results_df2019.shape
results_df2019["hourly_counts"]=pd.to_numeric(results_df2019["hourly_counts"])
results_df2020=results_df2020.dropna(how="any")
results_df2020.shape
results_df2020["hourly_counts"]=pd.to_numeric(results_df2020["hourly_counts"])
results_df2021=results_df2021.dropna(how="any")
results_df2021.shape
results_df2021["hourly_counts"]=pd.to_numeric(results_df2021["hourly_counts"])

#### Grouping data based on pedestrian count for each day in total for each sensor

In [20]:
#count per day 2019
results_df2019["daily_Count"]=0
per_day_count=results_df2019.groupby(["sensor_name","month","day"])["hourly_counts"].sum()
results_df2019_perdayCount=per_day_count.reset_index()

#count per day 2020
results_df2020["daily_Count"]=0
per_day_count2020=results_df2020.groupby(["sensor_name","month","day"])["hourly_counts"].sum()
results_df2020_perdayCount=per_day_count2020.reset_index()

#count per day 2021
results_df2021["daily_Count"]=0
per_day_count=results_df2021.groupby(["sensor_name","month","day"])["hourly_counts"].sum()
results_df2021_perdayCount=per_day_count.reset_index()

#### Joining/ Merging dataset
1. Total Pedestrian acitivity per month across year 2019,2020,2021
2. Renaming columns

In [21]:
#Merge all the df
merged_2019_2020_df=pd.merge(results_df2019_perdayCount,results_df2020_perdayCount,on=["sensor_name","month","day"],suffixes=("_2019","_2020"),how="outer")

merged_2019_2020_df["month"].unique()
merged_2019_2020_df=merged_2019_2020_df.rename(columns={'hourly_counts_2019':'day_based_counts2019',
                                                                 'hourly_counts_2020':'day_based_counts2020'})
merged_2019_2020_df["month"].unique()

#Merge all the df
merged_2019_2020_2021_df=pd.merge(merged_2019_2020_df,results_df2021_perdayCount,on=["sensor_name","month","day"],how="left")
#merged_2019_2020_2021_df.dropna(how="any",inplace=True)
merged_2019_2020_2021_df=merged_2019_2020_2021_df.rename(columns={'hourly_counts':'day_based_counts2021'})
merged_2019_2020_2021_df["month"].unique()
merged_2019_2020_2021_df.head()

,sensor_name,month,day,day_based_counts2019,day_based_counts2020,day_based_counts2021
0,Alfred Place,April,Friday,29607.0,2309.0,8643.0
1,Alfred Place,April,Monday,37167.0,2410.0,7513.0
2,Alfred Place,April,Saturday,11889.0,806.0,4150.0
3,Alfred Place,April,Sunday,8249.0,566.0,2292.0
4,Alfred Place,April,Thursday,30234.0,3601.0,10258.0

In [22]:
print(merged_2019_2020_2021_df.shape)
merged_2019_2020_2021_df.drop_duplicates(keep='first',inplace=True)
print(merged_2019_2020_2021_df.shape)

(5329, 6)
(5329, 6)

#### Complete dataset view

In [23]:
#Dataset full view
#pd.set_option("max_columns", None) # show all cols
#pd.set_option("expand_frame_repr", True)
#pd.set_option('display.max_rows', None)
#print(merged_2019_2020_2021_df)

#### Total sensors and counts in the Dataset

In [24]:
#common sensors across the db
a=merged_2019_2020_2021_df["sensor_name"].unique().tolist()
print(a)
len(a)

['Alfred Place', 'Birrarung Marr', 'Bourke St - Spencer St (North)', 'Bourke St Bridge', 'Bourke St-Russell St (West)', 'Bourke Street Mall (North)', 'Bourke Street Mall (South)', 'Chinatown-Lt Bourke St (South)', 'Chinatown-Swanston St (North)', 'Collins Place (North)', 'Collins Place (South)', 'Collins St (North)', 'Elizabeth St-La Trobe St (East)', 'Elizabeth St-Lonsdale St (South)', 'Faraday St-Lygon St (West)', 'Flinders La - Swanston St (West) Temp', 'Flinders La-Swanston St (West)', 'Flinders St-Elizabeth St (East)', 'Flinders St-Spark La', 'Flinders St-Spring St (West)', 'Flinders Street Station Underpass', 'Flinders la - Swanston St (West) Temp', 'Grattan St-Swanston St (West)', 'La Trobe St (North)', 'Lincoln-Swanston (West)', 'Lincoln-Swanston(West)', 'Little Collins St-Swanston St (East)', 'Lonsdale St (South)', 'Lonsdale St - Elizabeth St (North)', 'Lonsdale St-Spring St (West)', 'Lygon St (East)', 'Lygon St (West)', 'Melbourne Central', 'Melbourne Central-Elizabeth St (East)', 'Melbourne Convention Exhibition Centre', 'Monash Rd-Swanston St (West)', 'New Quay', 'Pelham St (S)', 'Pelham St (South)', 'Princes Bridge', 'QV Market-Elizabeth St (West)', 'QV Market-Peel St', 'QVM-Franklin St (North)', 'QVM-Queen St (East)', 'QVM-Therry St (South)', 'Queen St (West)', 'Sandridge Bridge', 'Southbank', 'Southern Cross Station', 'Spencer St-Collins St (North)', 'Spencer St-Collins St (South)', 'St Kilda Rd-Alexandra Gardens', 'State Library', 'Swanston St - RMIT Building 14', 'Swanston St - RMIT Building 80', 'The Arts Centre', 'Tin Alley-Swanston St (West)', 'Town Hall (West)', 'Victoria Point', 'Waterfront City', 'Webb Bridge', '231 Bourke St', 'Bourke St - Spencer St (South)', 'Errol Street (East)', 'Flinders Ln -Degraves St (Crossing)', 'Flinders Ln -Degraves St (North)', 'Flinders Ln -Degraves St (South)', 'Royal Pde-Grattan St', 'State Library-New', 'Swanston St - City Square', 'Westwood Place']

71

#### Data sort: Data sorted using Monthly order using categorical data type

In [25]:
month_count2019_20_df=merged_2019_2020_2021_df.groupby(["month"])["day_based_counts2019","day_based_counts2020","day_based_counts2021"].sum()
month_count2019_20_df.head()
df=month_count2019_20_df
df=df.reset_index()
print("Old df: Unsorted")
sorted_months=["January","February","March","April","May","June","July","August", "September", "October","November", "December"]
df.index=pd.CategoricalIndex(df["month"],categories=sorted_months,ordered=True)
df

Old df: Unsorted

,month,day_based_counts2019,day_based_counts2020,day_based_counts2021
month,,,,
April,April,22818120.0,3965628.0,15917378.0
August,August,23896524.0,3157701.0,5678484.0
December,December,24931172.0,14153423.0,0.0
February,February,18816254.0,21853368.0,8775020.0
January,January,18904686.0,23189121.0,10904769.0
July,July,22744685.0,5394964.0,10791452.0
June,June,20194222.0,8573779.0,9123174.0
March,March,23181242.0,16576373.0,13412576.0
May,May,21590920.0,6257626.0,8189692.0
November,November,23487511.0,9755676.0,0.0
October,October,24738547.0,5274979.0,0.0
September,September,21107792.0,3789356.0,0.0

In [26]:
df=df.sort_index().reset_index(drop=True)
df
df.to_csv('df.csv',index=False)

#### Merge full-time employment data for year 2019, 2020, 2021

In [27]:
df3_employed=df.merge(e,on="month")
df3_employed
df3_employed.to_csv('df3_employed.csv',index=False)